h1 {
    color: black(0, 68, 255, 0.726);
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.first {
    padding:30px;
}

.move {
    float: right;
}

.second-left {
    float:left
}

.second-right {
    float:right;
}

.second-left label{
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.second-right label{
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.second input{
    float: right;
}

form {
    margin: 0 auto;
    width: 1000px;
    text-align: right;
}

.form input[type="text"],
.form input[type="number"] {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    width: auto;
    display: block;
    text-align: left;
    float: right;
}

button {
    margin-left: 0;
    background-color: rgb(255, 0, 0);
    color: black;
    border-style: groove;
    border-radius: 4px;
    padding: 8px 50px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.button {
    margin-top: 50px;
    text-align: center;
}

.list {
    float: left;
    margin-top: 70px;
}
  
ul {
    margin-bottom: 10px;
    font-weight: bold;
}

.left-align {
    text-align: left;
}

select {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 175px;
    display: block;
    text-align: left;
    float: right;
}

select option {
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

select option:hover {
    background-color: #007BFF;
    color: #fff;
}
