<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Car list</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/style-sheet.css">
</head>

<body>
    <h1>Car list</h1>
    <form action="http://localhost:5001/get_car_data" method="get" class="form" id="searchForm">
        <div class="first">
            <label for="brand">Car maker</label>
            <select name="brand" id="brand" required>
                <option value="Toyota">Toyota</option>
                <option value="Honda">Honda</option>
                <option value="Ford">Ford</option>
                <option value="Audi">Audi</option>
                <option value="Porsche">Porsche</option>
                <option value="Lamborghini">Lamborghini</option>
                <option value="Ferrari">Ferrari</option>
                <option value="McLaren">McLaren</option>
                <option value="BMW">BMW</option>
                <option value="Mercedes-Benz">Mercedes-Benz</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Nissan">Nissan</option>
                <option value="Aston Martin">Aston Martin</option>
                <option value="Bugatti">Bugatti</option>
                <option value="Dodge">Dodge</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Koenigsegg">Koenigsegg</option>
                <option value="Lexus">Lexus</option>
                <option value="Lotus">Lotus</option>
                <option value="Maserati">Maserati</option>
                <option value="Alfa Romeo">Alfa Romeo</option>
                <option value="Ariel">Ariel</option>
                <option value="Bentley">Bentley</option>
                <option value="Mercedes-AMG">Mercedes-AMG</option>
                <option value="Pagani">Pagani</option>
                <option value="Polestar">Polestar</option>
                <option value="Rimac">Rimac</option>
                <option value="Acura">Acura</option>
                <option value="Mazda">Mazda</option>
                <option value="Rolls-Royce">Rolls-Royce</option>
                <option value="Tesla">Tesla</option>
                <option value="W Motors">W Motors</option>
                <option value="Shelby">Shelby</option>
                <option value="TVR">TVR</option>
                <option value="Subaru">Subaru</option>
                <option value="Pininfarina">Pininfarina</option>
            </select>
        </div>
        <div class="first">
            <label for="yearMin">Year</label>
            <div class="move">
                <div class="second-left">
                    <label> Min: </label>
                    <input type="number" class="align-year" name="yearMin" id="yearMin" step="1" value="2000" required>
                </div>
                <div class="second-right">
                    <label> Max: </label>
                    <input type="number" class="align-year" name="yearMax" id="yearMax" step="1" value="2023" required>
                </div>
            </div>
        </div>
        <div class="first">
            <label for="priceMin">Price (in dollars)</label>
            <div class="move">
                <div class="second-left">
                    <label class="right"> Min: </label>
                    <input type="number" class="align-price" name="priceMin" id="priceMin" step="1" value="1" required>
                </div>
                <div class="second-right">
                    <label class="right"> Max: </label>
                    <input type="number" class="align-price" name="priceMax" id="priceMax" step="1" value="999999999999"
                        required>
                </div>
            </div>
        </div>
        <div class="button">
            <button type="button" onclick="getElements()">Research</button>
        </div>
        <div class="list">
            <ul id="carList"></ul>
        </div>
    </form>

    <script>
        function getElements() {
            find = false;
            const form = document.getElementById('searchForm');
            const formData = new FormData(form);
            const url = form.action;

            // Capture the selected car make from the dropdown
            const carMakerSelect = document.getElementById('brand');
            const selectedCarMake = carMakerSelect.options[carMakerSelect.selectedIndex].value;

            const carYearMin = formData.get('yearMin');
            const carYearMax = formData.get('yearMax');
            const carPriceMin = formData.get('priceMin');
            const carPriceMax = formData.get('priceMax');

            fetch(url + '?' + new URLSearchParams(formData), {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    const carList = document.getElementById('carList');
                    carList.innerHTML = ''; // Clear existing list items

                    if (data && data.length > 0) {
                        data.forEach(car => {
                            // Check if the car make matches the selected car make
                            if (car.Car_Make === selectedCarMake) {
                                // Check if the car year is within the specified range
                                if (car.Production_Year >= carYearMin && car.Production_Year <= carYearMax) {
                                    // Check if the car price is within the specified range
                                    if (car.Price_in_USD >= carPriceMin && car.Price_in_USD <= carPriceMax) {
                                        find = true;
                                        const carItem = document.createElement('li');
                                        carItem.textContent = `Car maker: ${car.Car_Make}, Car model: ${car.Car_Model}, Year: ${car.Production_Year}, Engine size: ${car.Engine_Size_L}, Horsepower: ${car.Horsepower}, Torque: ${car.Torque_lbft}, Acceleration: ${car.MPH_Time_seconds}, Price: ${car.Price_in_USD}$`;
                                        carItem.classList.add('left-align');
                                        carList.appendChild(carItem);
                                    }
                                }
                            }
                        });
                    }
                    if (!find) {
                        carList.innerHTML = 'No results found';
                    }
                    find = false;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>